@charset "UTF-8";

/* 
paleta de cores
verde #49a09d
lilas #5f2d82
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #49a09dc7, #2f2d31be);
}
body,
html {
    background-color: #423e466b;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100ve;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    background: url(../imagens/pexels-dinnow-9444476.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    display: block;
}

section#login>div#formulario {
    display: block;
    padding: 10px;

}
div#formulario > h1{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.9m;
    padding-bottom: 15px;
}
#icon {
    color: #1c3837;
}

